.top {
  position: sticky;
  top: 0;
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-right: 1.5em;
  padding-left: 1.5em;
  justify-content: space-between;
}
.left {
  display: flex;
  font-family: 'Bungee', cursive;
  align-items: center;
}
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.text {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
b {
  margin-right: 4px;
}
.fa {
  color: red;
}
