.tweet-tracker {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0.5em;
  width: 100%;
  background-color: #f3f1ec;
  height: 250px;
  outline-color: black;
  outline-style: solid;
  outline-width: 2px;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.name {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
}
.tweet-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}
.tweet-footer {
  display: flex;
  justify-content: space-between;
  padding-left: 0.5em;
  padding-right: 0.5em;
  height: 50px;
  border-top: 1px solid black;
  color: darkblue;
}
.time {
  font-size: 10px;
}

.main-footer {
  height: 200px;
}

.footer-i {
  margin: 5px;
  color: darkblue;
}
.footer-i:hover {
  color: goldenrod;
}
